:root {
  --btn-color: #9d63ff;
  --secondary-color: #e6e6e6;
  --box-shadow: 10px 10px 15px rgba(90, 85, 85, 0.5);
  --nav-bar: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

body {
  overflow-x: hidden;
  padding-bottom: 20px;
  margin: 10px;
}
.nav-transparent {
  background: transparent;
  position: absolute;
  width: 100vw;
  z-index: 9;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hero {
  background-image: url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  vertical-align: top;
  width: 100vw;
  text-align: center;
  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}
.hero .me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.hero h1 {
  margin-top: 10px;
  padding: 15px;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Playfair Display", serif;
  opacity: 0.9;
  color: whitesmoke;
}

.hero h2 {
  font-size: 35px;
  font-family: "Playfair Display", serif;
  opacity: 0.7;
  color: white;
}

.hero h3 {
  padding-top: 25px;
  font-size: 24px;
  opacity: 0.9;
  padding-bottom: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  width: 100%;

  align-items: center;
}
.main .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-text-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  margin-top: 4%;
  padding-bottom: 0%;
}
.react-icon {
  width: 150px;
  width: 150px;

  align-items: inherit;
}
.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.bg-projects {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  width: 100vw;
  padding-bottom: 20px;
}

.section1 {
  padding-top: 20px;
  background-image: url(./images/pexels-lisa-3789851.jpg);
  border-image-repeat: none;

  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  width: 100vw;
  height: 100vh;
  padding-bottom: 30px;
}
.container {
  width: 100%;
  height: 100%;
}
.container-memories {
  box-shadow: var(--box-shadow);
  background-image: url(./images/bg-album.jpg);

  color: var(--btn-color);
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
}

.img-memories {
  margin: 15px;
  border: 5px solid;
  border-color: rgb(75, 68, 68);

  padding: 30px;

  align-content: center;
}
.img-memories:hover {
  opacity: 0.7;
}
.picture {
  height: 240px;
  width: 200px;
  padding: 2 6px;
  padding-bottom: 25px;
  margin: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: all 800ms;
  transform: rotate(-5deg);
}
.picture:hover {
  width: 220px;
  height: 250px;
  transform: rotate(-10deg);
}
.img:hover {
  opacity: 0.7;
}
.img-hobby {
  margin: 30px;
  padding: 30px;
  height: 300px;
  width: 400px;
  align-content: center;
}
.img-hobby:hover {
  width: 380px;
  height: 280px;
  box-shadow: var(--box-shadow);
}
.certificate:hover {
  box-shadow: var(--box-shadow);
}
.btn-index-work {
  width: 100%;
}

.whatever2 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url(/images/Code_typing.png);

  background-repeat: no-repeat;
  vertical-align: bottom;

  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}

.whatever {
  width: 100vw;
  text-align: center;
  background-image: url(/images/background_online_cv_qy9w.png);

  background-repeat: no-repeat;
  vertical-align: bottom;

  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}
.intro-cv {
  padding-top: 40px;
  margin-top: 30px;
}
main h1,
h3,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
  color: black;
  font-family: "Playfair Display", serif;
}
main h2 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}
main h3 {
  font-size: 24px;
}
P {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  text-align: center;
  line-height: 27px;
}

.hexagon-container {
  font-family: "Oswald", sans-serif;
}
#container-hex {
  width: 100vw;
}
html .hexagon-container {
  font-size: 62.5%;
  width: 100%;
  height: 90vh;
}
body .hexagon {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "lux", sans-serif;
  color: #222;
  background-color: #f6f6f6;
  overflow-y: scroll;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hexagon-container h1,
.hexagon-container h2,
.hexagon-container h3,
.hexagon-container h4,
.hexagon-container h5,
.hexagon-container h6 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}
.hexagon-container h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
.hexagon-container h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
.hexagon-container h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
.hexagon-container h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
.hexagon-container h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
.hexagon-container h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet
.hexagon @media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
} */

.hexagon-container p {
  margin-top: 0;
}

.hexagon-container * {
  box-sizing: border-box;
  margin: 0;
}

.hexagon-container section.intro {
  font-family: oswald;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #f6f6f6;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #f6f6f6 1%,
    #d3d3d3 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(1%, #f6f6f6),
    color-stop(100%, #d3d3d3)
  );
  /* background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 1%,#d3d3d3 100%); */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #f6f6f6 1%,
    #d3d3d3 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #f6f6f6 1%,
    #d3d3d3 100%
  );
  /* background: radial-gradient(ellipse at center, #f6f6f6 1%,#d3d3d3 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#d3d3d3',GradientType=1 );
  overflow: hidden;
  z-index: 1;
}

.hexagon-container .welcome {
  font-size: 60px;
  text-align: center;
  color: #333;
}

/********************************************************************************************************************************
                                            Hexagon Intro Blocks
********************************************************************************************************************************/
.hexagon-container .intro-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  box-shadow: inset 0px 0px 64px 0px rgba(50, 50, 50, 0.75);
}

.hexagon-container .hex-bg-big-text {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.hexagon-container .centerfold-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hexagon-container .hoverblock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hexagon-container .hover-notify {
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.hexagon-container .code-display {
  position: relative;
  color: #f6f6f6;
  width: 600px;
  height: 260px;
}

.hexagon-container .code-display::before {
  content: "Expertise";
  position: absolute;
  top: -70px;
  left: 0;
  font-size: 3rem;
  color: #333;
}

.hexagon-container .code-display h1 {
  color: #333;
}

.hexagon-container .code-description {
  width: 100%;
  height: 100%;
  color: #333;
}

.hexagon-container .code-description * {
  display: none;
}

.hexagon-container .code-description > div {
  padding: 0px 40px;
  font-size: 26px;
  border-left: 2px solid #dddddd;
}

.hexagon-container .desc-active {
  display: block;
  /*height: 100%;*/
  position: relative;
}

.hexagon-container .desc-active > p {
  display: block;
  margin: 0;
}

.hexagon-container .desc-active > p > span {
  display: inline-block;
  /* font-weight: bold; */
  width: 125px;
}

.hexagon-container p.code-title {
  padding-top: 40px;
  position: relative;
  font-size: 6rem;
}

.hexagon-container .desc-active::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  opacity: 0.2;
  z-index: -1;
}

.hexagon-container .backend-desc.desc-active::after {
  background: url(https://i.imgur.com/Dc8HgeM.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .frontend-desc.desc-active::after {
  background: url(https://i.imgur.com/QcfXSkf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .html-desc.desc-active::after {
  background: url(https://i.imgur.com/0g3HZSF.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .css-desc.desc-active::after {
  background: url(https://i.imgur.com/poC0TYE.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .javascript-desc.desc-active::after {
  background: url(https://i.imgur.com/QjrmHkb.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .gui-desc.desc-active::after {
  background: url(https://i.imgur.com/YmCqPpk.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .seo-desc.desc-active::after {
  background: url(https://i.imgur.com/V9vAVUO.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.hexagon-container .hex-master-wrap {
  position: relative;
  /* width: 50%; */
  min-width: 665px;
  height: 460px;
}

.hexagon-container .border-1,
.hexagon-container .border-2,
.hexagon-container .border-3 {
  position: absolute;
  width: 100%;
  height: 88px;
  top: 46px;
  left: 0;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 8px;
  z-index: 2;
  border-color: #333;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hexagon-container .border-2 {
  transform: rotate(60deg);
}

.hexagon-container .border-3 {
  transform: rotate(120deg);
}

.hexagon-container .border-3::before {
  display: none;
  position: absolute;
  content: "";
  bottom: 10%;
  left: 42px;
  width: 50%;
  height: 83%;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: white;
  border-radius: 50%;
  visibility: visible;
  z-index: -1;
  /* transform: rotate(60deg); */
}

.hexagon-container .intro-block .grid-1,
.hexagon-container .intro-block .grid-2,
.hexagon-container .intro-block .grid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: -50px;
}

.hexagon-container .intro-block .grid-3 {
  margin-bottom: -50px;
}

.hexagon-container .intro-block .grid-2,
.hexagon-container .intro-block .grid-3 {
  margin-top: -50px;
}

.hexagon-container .hex-wrap {
  position: relative;
  width: 150px;
  height: 190px;
  margin: 0 1em 0 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border: 0px solid;
  transform: scale(1.1);
}

.hexagon-container .hex-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 58px;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.hexagon-container .hex-wrap .label svg,
.hex-wrap .label img {
  height: 50px;
  width: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hexagon-container .hexagon {
  width: 300px;
  height: 150px;
  margin: 15px 0 0 -75px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(90deg);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hexagon-container .hex-inner-1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-container .hex-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-image: url(http://placekitten.com/240/240); */
  visibility: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  overflow: hidden;
}

.hexagon-container .hex-inner-2::before,
.hex-inner-2::after {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  top: 0;
  left: 0;
  height: 110%;
  width: 110%;
  content: "";
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/**********************************************************************************
                                Hex Hover Area
**********************************************************************************/
.hexagon-container .hex-init {
  position: absolute;
  top: 46px;
  left: 0px;
  height: 46%;
  width: 100%;
  z-index: 9;
  transform: rotate(-60deg);
  cursor: pointer;
}

.hexagon-container .hex-init::after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  transform: rotate(-60deg);
}

.hexagon-container .hex-init::before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  transform: rotate(60deg);
}
.navigation-link-index .btn {
  background: var(--btn-color);
  margin-top: 5%;
  box-shadow: var(--box-shadow);
  color: white;
  text-decoration: none;
}
.btn-view-cv {
  color: var(--btn-color) !important;
  border: 1px solid var(--btn-color) !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
  background-color: whitesmoke;
}

.btn-download-cv {
  background-color: var(--btn-color) !important;
  margin-top: 5%;
  box-shadow: var(--box-shadow) !important;
  color: white !important;
}

footer p {
  font-size: 17px;
  line-height: 25px;
}
.learn-more {
  text-decoration: none;
  margin: 1px solid;
  padding: 15px;

  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
#projects h3 {
  color: whitesmoke;
  font-size: 17px;

  padding: 5px;
}

.learn-more-memories {
  text-decoration: none;
  margin: 1px solid;
  padding: 15px;

  color: whitesmoke;
  border: 1px solid whitesmoke !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.scroll-up {
  background-color: var(--btn-color);
  border-radius: 10px;
  border: transparent;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.3px;
  opacity: 1;
  padding: 7px;
  right: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  left: 89%;
  bottom: 5%;
  margin-top: 95%;
  z-index: 1000;
  width: 100px;
}

.scroll-up:hover {
  background-color: var(--btn-color);
  color: black;
  cursor: pointer;
}

.btn-view-projects {
  text-decoration: none;
  margin: 1px solid;
  padding: 15px;
  background-color: whitesmoke;
  color: var(--btn-color);
  border: 1px solid var(--btn-color) !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.btn-view-projects:hover {
  border: 1px solid var(--btn-color) !important;
  color: var(--btn-color) !important;
}
.hero .btn-projects:hover {
  background-color: #420062;
}
.description-about-me {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.9;
  background-color: whitesmoke;
  border-radius: 5%;
  padding-left: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.btn-email-me {
  background: var(--btn-color) !important;

  box-shadow: var(--box-shadow) !important;
  color: white !important;

  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
.app-description {
  line-height: 1.5;
  font-size: 15px;

  font-weight: 400;
  opacity: 0.9;
  color: whitesmoke !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 10px;
}
.app-description-gallery {
  line-height: 1.5;
  font-size: 17px;

  font-weight: 450;
  color: black !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 10px;
}
.app-description-gallery-s1{
  line-height: 2;
  font-size: 25px;

  font-weight: 450;
  color: rgb(228, 211, 211) !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 10px;
}
}
.logo {
  width: 50px;
  line-height: 10px;
}
.col h3 {
  color: #abecd6;
}

footer .contact {
  color: #abecd6;
  width: 470px;
  margin: 0 auto;
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
}

.contact-me-qr {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.contact-me-here {
  display: -ms-inline-flexbox;
  font-size: medium;
  font-family: "Dancing Script", cursive;
}
footer .my-email a {
  color: black;
  text-decoration: none;
}
.homepage-link {
  color: var(--btn-color);
  text-align: center;
  display: block;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
}
.code-stamp {
  text-decoration: underline;
  color: #1c1a27;
}
.media-contact {
  padding: 35px;
  text-align: center;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.9rem;
  }
}
@media (max-width: 950px) {
  .hero h1 {
    padding: 10px;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: "Playfair Display", serif;
  }
  .hero h2 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
  }
  .hero h3 {
    padding: 25px;
    font-size: 20px;
    opacity: 0.7;
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
  }

  .description-about-me {
    font-size: xx-small;
    padding: 0%;
    margin: 0;
  }
  .btn-view-cv {
    font-size: 7px;
    line-height: 10px;
  }

  footer p {
    font-size: 13px;
    line-height: 15px;
  }
  #projects h3 {
    color: whitesmoke;
    font-size: 17px;

    padding: 5px;
  }

  .react-icon {
    padding-top: 5px;
    width: 70px;
    height: 50px;
  }

  .whatever h5 {
    font-size: 17px;
    text-align: center !important;
  }
  .certificate:hover {
    box-shadow: var(--box-shadow);
  }
  .contact-btn,
  .btn-projects,
  .btn-view-cv {
    background: var(--btn-color) !important;
    margin-top: 5%;
    box-shadow: var(--box-shadow) !important;
    color: white !important;
    text-decoration: none;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }
  .btn-email-me {
    background: var(--btn-color) !important;

    box-shadow: var(--box-shadow) !important;
    color: white !important;

    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }

  .section3 {
    align-items: center;
  }
  .container-memories {
    display: none;
  }
  h1 {
    text-align: center;
  }

  body,
  .main {
    height: 65vh;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  main h1 {
    font-size: 40px;
    margin: 0;
    padding: 10;
  }
  main .container-index {
    text-align: center;
  }
  .btn-projects {
    text-align: center;
  }
  footer .contact {
    text-align: center;
    width: 200px;
  }
  .wrapper-scroll-up{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-up{
    position: fixed;
    left: 50%;
    bottom: 2%;
    margin-top: 95%;
    z-index: 1000;
    width: 100px;
  }
  
}
