:root {
  --btn-color: #9d63ff;
  --secondary-color: #e6e6e6;
  --box-shadow: 10px 10px 15px rgba(90, 85, 85, 0.5);
  --nav-bar: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

body {
  overflow-x: hidden;
  padding-bottom: 20px;
  margin: 10px;
}
.nav-transparent {
  background: transparent;
  position: absolute;
  width: 100vw;
  z-index: 9;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hero {
  background-image: url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  vertical-align: top;
  width: 100vw;
  text-align: center;
  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}
.hero .me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.hero h1 {
  margin-top: 10px;
  padding: 15px;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Playfair Display", serif;
  opacity: 0.9;
  color: whitesmoke;
}

.hero h2 {
  font-size: 35px;
  font-family: "Playfair Display", serif;
  opacity: 0.7;
  color: white;
}

.hero h3 {
  padding-top: 25px;
  font-size: 24px;
  opacity: 0.9;
  padding-bottom: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  width: 100%;

  align-items: center;
}
.main .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-text-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  margin-top: 4%;
  padding-bottom: 0%;
}
.react-icon {
  width: 150px;
  width: 150px;

  align-items: inherit;
}
.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.bg-projects {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  width: 100vw;
  padding-bottom: 20px;
}

.section1 {
  padding-top: 20px;
  background-image: url(./images/pexels-lisa-3789851.jpg);
  border-image-repeat: none;

  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  width: 100vw;
  height: 100vh;
  padding-bottom: 30px;
}
.container {
  width: 100%;
  height: 100%;
}
.container-memories {
  box-shadow: var(--box-shadow);
  background-image: url(./images/bg-album.jpg);

  color: var(--btn-color);
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
}

.img-memories {
  margin: 15px;
  border: 5px solid;
  border-color: rgb(75, 68, 68);

  padding: 30px;

  align-content: center;
}
.img-memories:hover {
  opacity: 0.7;
}
.picture {
  height: 240px;
  width: 200px;
  padding: 2 6px;
  padding-bottom: 25px;
  margin: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: all 800ms;
  transform: rotate(-5deg);
}
.picture:hover {
  width: 220px;
  height: 250px;
  transform: rotate(-10deg);
}
.img:hover {
  opacity: 0.7;
}
.img-hobby {
  margin: 30px;
  padding: 30px;
  height: 300px;
  width: 400px;
  align-content: center;
}
.img-hobby:hover {
  width: 380px;
  height: 280px;
  box-shadow: var(--box-shadow);
}
.certificate:hover {
  box-shadow: var(--box-shadow);
}
.btn-index-work {
  width: 100%;
}

.whatever2 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url(/images/Code_typing.png);

  background-repeat: no-repeat;
  vertical-align: bottom;

  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}

.whatever {
  width: 100vw;
  text-align: center;
  background-image: url(/images/background_online_cv_qy9w.png);

  background-repeat: no-repeat;
  vertical-align: bottom;

  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}
.intro-cv {
  padding-top: 40px;
  margin-top: 30px;
}
main h1,
h3,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
  color: black;
  font-family: "Playfair Display", serif;
}
main h2 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}
main h3 {
  font-size: 24px;
}
P {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  text-align: center;
  line-height: 27px;
}



.navigation-link-index .btn {
  background: var(--btn-color);
  margin-top: 5%;
  box-shadow: var(--box-shadow);
  color: white;
  text-decoration: none;
}
.btn-view-cv {
  color: var(--btn-color) !important;
  border: 1px solid var(--btn-color) !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
  background-color: whitesmoke;
}

.btn-download-cv {
  background-color: var(--btn-color) !important;
  margin-top: 5%;
  box-shadow: var(--box-shadow) !important;
  color: white !important;
}

footer p {
  font-size: 17px;
  line-height: 25px;
}
.learn-more {
  text-decoration: none;
  margin: 1px solid;
  padding: 15px;

  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
#projects h3 {
  color: whitesmoke;
  font-size: 17px;

  padding: 5px;
}

.learn-more-memories {
  text-decoration: none;
  margin: 1px solid;
  padding: 15px;

  color: whitesmoke;
  border: 1px solid whitesmoke !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.scroll-up {
  background-color: var(--btn-color);
  border-radius: 10px;
  border: transparent;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.3px;
  opacity: 1;
  padding: 7px;
  right: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  left: 89%;
  bottom: 5%;
  margin-top: 95%;
  z-index: 1000;
  width: 100px;
}

.scroll-up:hover {
  background-color: var(--btn-color);
  color: black;
  cursor: pointer;
}

.btn-view-projects {
  text-decoration: none;
  margin: 1px solid;
  padding: 15px;
  background-color: whitesmoke;
  color: var(--btn-color);
  border: 1px solid var(--btn-color) !important;
  border-radius: 5%;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.btn-view-projects:hover {
  border: 1px solid var(--btn-color) !important;
  color: var(--btn-color) !important;
}
.hero .btn-projects:hover {
  background-color: #420062;
}
.description-about-me {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.9;
  background-color: whitesmoke;
  border-radius: 5%;
  padding-left: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.btn-email-me {
  background: var(--btn-color) !important;
position: relative;
  box-shadow: var(--box-shadow) !important;
  color: white !important;
width: 200px;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
.app-description {
  line-height: 1.5;
  font-size: 15px;

  font-weight: 400;
  opacity: 0.9;
  color: whitesmoke !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 10px;
}
.app-description-gallery {
  line-height: 1.5;
  font-size: 17px;

  font-weight: 450;
  color: black !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 10px;
}
.app-description-gallery-s1{
  line-height: 2;
  font-size: 25px;

  font-weight: 450;
  color: rgb(228, 211, 211) !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 10px;
}
}
.logo {
  width: 50px;
  line-height: 10px;
}
.col h3 {
  color: #abecd6;
}

footer .contact {
  color: #abecd6;
  width: 470px;
  margin: 0 auto;
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
}

.contact-me-qr {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.contact-me-here {
  display: -ms-inline-flexbox;
  font-size: medium;
  font-family: "Dancing Script", cursive;
}
footer .my-email a {
  color: black;
  text-decoration: none;
}
.homepage-link {
  color: var(--btn-color);
  text-align: center;
  display: block;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
}
.code-stamp {
  text-decoration: underline;
  color: #1c1a27;
}
.media-contact {
  padding: 35px;
  text-align: center;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.9rem;
  }
}
@media (max-width: 950px) {
  .hero h1 {
    padding: 10px;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: "Playfair Display", serif;
  }
  .hero h2 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
  }
  .hero h3 {
    padding: 25px;
    font-size: 20px;
    opacity: 0.7;
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
  }

  .description-about-me {
    font-size: xx-small;
    padding: 0%;
    margin: 0;
  }
  .btn-view-cv {
    font-size: 7px;
    line-height: 10px;
  }

  footer p {
    font-size: 13px;
    line-height: 15px;
  }
  #projects h3 {
    color: whitesmoke;
    font-size: 17px;

    padding: 5px;
  }

  .react-icon {
    padding-top: 5px;
    width: 70px;
    height: 50px;
  }

  .whatever h5 {
    font-size: 17px;
    text-align: center !important;
  }
  .certificate:hover {
    box-shadow: var(--box-shadow);
  }
  .contact-btn,
  .btn-projects,
  .btn-view-cv {
    background: var(--btn-color) !important;
    margin-top: 5%;
    box-shadow: var(--box-shadow) !important;
    color: white !important;
    text-decoration: none;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }
  .btn-email-me {
    background: var(--btn-color) !important;

    box-shadow: var(--box-shadow) !important;
    color: white !important;

    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }
  .section1{
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
.section1 h1{
 font-size: medium;
  padding-top: 20px;
  margin-top: 20px;
  font-weight: 300;
}
  .section3 {
    align-items: center;
  }
  .container-memories {
    display: none;
  }
  h1 {
    text-align: center;
    
  }

  body,
  .main {
    height: 65vh;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  main h1 {
    font-size: 40px;
    margin: 0;
    padding: 10;
  }
  main .container-index {
    text-align: center;
  }
  .btn-projects {
    text-align: center;
  }
  footer .contact {
    text-align: center;
    width: 200px;
  }
  .wrapper-scroll-up{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-up{
    position: fixed;
    left: 50%;
    bottom: 2%;
    margin-top: 95%;
    z-index: 1000;
    width: 100px;
  }
  
}
